.navbar-nav > li > .input-group {
    margin-top: 3px;
}
.input-group {
    .selectize-control > .selectize-input {
        top: 3px;
        padding: 8px 8px 8.2px;
        box-shadow: none;
        border-radius: 0px;
    }
}
.input-group-label {
    padding: 7px;
    display: block;
    font-weight: bold;
}